.login__card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login__card-content input {
  width: 50%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #000;
}

.login__card-buttons button {
  margin-right: 10px;
}
.login__card-message {
  color: red;
}
